.home-banner {
	background-image: url("../../Assets/images/books.jpg");
	height: 100%;
	width: 100%;
	left: 0px; 
	right: 0px;
	padding:0px;
}

.home-container {
	margin-top: 69px;
	width: 100%;
	background-color:#f9f9f9;
	padding-bottom: 20px;
	min-height: calc( 100vh - 89px);
}

.home-title {
	text-align: center; 
	margin-top: 0px;
	font-size: 110px;
}