.searchable-dropdown-container {
  width: 100%;
}

.searchable-dropdown-input {
  width: 98%;
}

.searchable-dropdown-list-container {
  position: relative;
}

.searchable-dropdown-list {
  position: absolute;
  background-color: #dddddd;
  margin-top: 0px;
  z-index: 1000;
  border: 1px solid black;
  border-top: none;
  width: 99%;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: auto;
  text-align: left;
}

.searchable-dropdown-item {
  padding: 5px; 
}

.searchable-dropdown-item:hover {
  background-color: #cccccc;
  cursor: pointer;
}